{% load static %}
<footer>
	<div class="container">
		<nav class="navbar navbar-light bg-light container">
			<a class="navbar-brand logo-top" href="#">
				<img src="{% static './img/Logo.png' %}" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
				Brand Name
			</a>
			<div class="contact-top">
				<a class="whatsapp-number" href="https://web.whatsapp.com/"></a>
				<a class="telegram-number" href="https://t.me/"></a>
				<a class="phone-number text-dark" href="tel:+74957777777">
					<h5>+7(495)-777-77-77</h5>
				</a>
			</div>
		</nav>
	</div>
</footer>