<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
</head>
<body>
	<!-- <h1>New webpage</h1>
	{{a}}

	<h1>{{text}}</h1> -->
	<!-- Data base viewer -->
	<!-- <h2>{{ object_list }}</h2>
	{% for obj in object_list %}
	<h3>№{{ obj.id }}</h3>
	<h3>Время регистрации: {{ obj.order_dt }}</h3>
	<h3>Имя пользователя: {{ obj.order_name }}</h3>
	<h3>Контактный телефон: {{ obj.order_phone }}</h3>
	{% endfor %} -->
	<!-- Data base table viewer -->

	{% if object_list %}
	<table border = "1">
		<tr>
			<th>id</th>
			<th>Дата</th>
			<th>Время</th>
			<th>Телефон</th>
		</tr>
		{% for obj in object_list %}
		<tr>
			<th>{{obj.id}}</th>
			<th>{{obj.order_dt}}</th>
			<th>{{obj.order_name}}</th>
			<th>{{obj.order_phone}}</th>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<p>Данных нет</p>
	{% endif %}
	<br>
	<br>
	<br>

	

	<!-- input form -->
	 <!-- GET requests form-->
	<!--  <form action="{% url 'thanks_page' %}" method="">
	 	<lable>Имя</lable>
	 	<input name="name">
	 	<lable>Телефон</lable>
	 	<input name="phone">
	 	<button type="submit">Отправить</button>
	 </form> -->


	 <!-- POST requests form-->
	 <form action="{% url 'thanks_page' %}" method="POST">
	 	{% csrf_token %}
	 	<!-- <lable>Имя</lable>
	 	<input name="name">
	 	<lable>Телефон</lable>
	 	<input name="phone"> -->
	 	{{ form.as_p }}

	 	<button type="submit">Отправить</button>
	 </form>
</body>
</html>