<section>
	<div class="container">
		<h1 class="text-3">Цены на услуги</h1>
		<table class="table table_one">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Услуга</th>
					<th scope="col">Старая цена</th>
					<th scope="col">Новая цена</th>
				</tr>
			</thead>
			<tbody>
				{% for obj in price_table %}
				<tr>
					<td>{{ obj.pc_title }}</td>
					<td><del>{{ obj.pc_old_price }}</del></td>
					<td>{{ obj.pc_new_price }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</section>