<section>
	<div class="container">
		<h1 class="text-3">Цены на услуги</h1>
		<table class="table table_one">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Услуга</th>
					<th scope="col">Старая цена</th>
					<th scope="col">Новая цена</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Услуга 1 Услуга 1 Услуга 1</td>
					<td><del>2000</del></td>
					<td>1000</td>
				</tr>
				<tr>
					<td>Услуга 2 Услуга 2 Услуга 2</td>
					<td><del>2000</del></td>
					<td>1000</td>
				</tr>
				<tr>
					<td>Услуга 3 Услуга 3 Услуга 3</td>
					<td><del>2000</del></td>
					<td>1000</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>